@model IEnumerable<TestSite.Areas.admin.ViewModels.BikeModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BikeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BikeDetails)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.BikeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BikeDetails)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new {  BikeID=item.BikeID }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKe*/ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
